

main
{
min-width: 100vh;
}

h3 {
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
  .card-deck
  {
    padding-top: 10vh;
    
  }
 .card-body
 {
   align-items: center;
   display: grid;
 }